[2020-12-03 06:14] zcervink opened #1 "Not able to use IntelliJ IDE+Remote-Robot framework with github actions"
Several attempts were made to get the IntelliJ IDE+Remote-Robot work with github actions, the IDE does not start on any OS (LINUX, WIN, OS X) - tested on localhost, the run of the UI tests works on localhost, but not in github actions.

PR drafts to create new github actions to run the UI tests:
- https://github.com/redhat-developer/intellij-quarkus/pull/258
- https://github.com/redhat-developer/i

[2020-12-09 19:31] fsladkey opened #2 "Example tests fail"
## Example tests fail

This project looks fantastic and I'm really interested in using it. However, whenever I run the sample tests, they fail at the second step. It would appear that non of the `.click()`s are actually opening dialog windows. Is there any tips for debugging problems like this, or anything else I might be doing wrong?

Thanks in advance!

Here's the output of running the tests.
[c

[2020-12-14 12:44] nizienko commented on #2
Hello, thanks for the issue!
I believe you tried to run the tests on Mac. Seems that the example test doesn't work on mac correctly due to differences in UI in windows/linux(which I used) and mac version. I'm going to fix the test soon, sorry for that

[2020-12-14 17:05] fsladkey commented on #2
Hey @nizienko, thanks that's good to know! I'll try on again on Linux for now, thanks for getting back to me. 🙂

[2020-12-15 12:47] nizienko commented on #2
Hello @fsladkey, hope tests should work well on Mac now.

There is another thing I could missed in the instruction. Tests expect that Idea is visible on the screen, so if it's not you have to switch to it manually. Normally on CI there is no need to do that as there is no other applications running on the agent.
Also I hope to add an example with Testcontainsers library soon, so it could be easier

[2020-12-16 09:46] nizienko commented on #1
Could you please check if the IDE can start with `runIde` task?

[2020-12-16 10:28] nizienko commented on #1
Sorry, I don't have experience with github actions, I've looked at logs:
on linux
[code]
that could mean that Ide started, `robot-sever-plugin` was able to receive the the request to find a welcome frame but was not success finding it in 2 sec. If the Ide hadn't started there would be a some timeout exception. Is there any logs left from the Ide? Seems like the Ide failed to be rendered on the scr

[2020-12-17 04:36] zcervink commented on #1
@nizienko I have updated the windows PR for PowerShell. The syntax issues are gone. Now it has the same behavior as the OS X version and I do know what happened. Both OS X and windows PRs starts first process (**./gradlew runIdeForUiTests**) and after that it waits in the loop until the Idea started and shows its UI (= it checks whether the **localhost:8082** is available using **curl**). After th

[2020-12-20 14:56] Jonatha1983 opened #3 "Click seems to not working"
Hi

I tried to use this plugin on my mac - but it looks like the click is not working properly.

[code]

I am using:
[code]

The find operation looks ending ok.
[code]

If I click on the "New Project" it failed on the next click:
[code]
The robot thinks the click went ok but it did not.

[2020-12-20 17:50] Jonatha1983 commented on #2
@nizienko  you wrote it should be fixed now but I don't see any new release - do you mean that it is fix when running the examples locally? Because also there I think there should be an issue since the example project depends on the jar and not on the robot project. I mean instead of:
[code]
it says
[code]
which I think is good for the example but not for fixes without releasing.

Thanks

[2020-12-21 10:40] nizienko commented on #3
Could you please check `Security & Privacy` -> `Accessibility` -> `Allow the apps below to control your computer` and select the IntelliJ Idea.

[2020-12-21 10:48] nizienko commented on #2
Hello @Jonatha1983, the fix was in `ui-test-examples` only. It keeps using the same remote-robot version.

[2020-12-21 11:16] Jonatha1983 commented on #2
Just saw the commit now - thanks.

I am debugging it also locally but still is not working for me.

[2020-12-21 11:20] Jonatha1983 commented on #3
@nizienko  WORKED!!!!! THANKS!!!!

[2020-12-21 11:25] Jonatha1983 commented on #3
Is it ok If I 'll add it to a README.md under the UI-test-example and open a PR?  I'll create a troubleshooting section if that is ok with you.

I also did a change in the RemoteRobot - in case one wants to see the HTTP call and response they can pass a system property and it will create an OkHttpClient with an interceptor to log the calls.

[2020-12-21 11:25] #3 closed

[2020-12-21 11:28] nizienko commented on #3
@Jonatha1983 of course please feel free to PR! Thanks for that!

[2020-12-21 13:08] Jonatha1983 commented on #3
@nizienko  - I am having some issues defining the debug retrofit with a system property.

I added to the RemoteRobot the following:
[code]

and in the runIdeForUiTests in the example project:
[code]
But it the RemoteRobot does not get that. If I am enforcing with
[code]
It does work.

My guess is that there are 2 processes and the RemoteRobot class is not invoked as part of the
``` runIdeForUiTest

[2020-12-22 10:30] #2 closed

[2020-12-23 18:34] abrooksv opened #6 "MyDialog child components have duplicates in the tree in 0.10.1"
In 0.10.1, dialogs classes are returning the same child components multiple times in the hierarchy:

DOM View:
<img width="1202" alt="Screen Shot 2020-12-23 at 10 31 25 AM" src="https://user-images.githubusercontent.com/8992246/103027070-0d4be800-450a-11eb-8b6b-ab299b735744.png">

UI Inspector:
<img width="470" alt="Screen Shot 2020-12-23 at 10 32 03 AM" src="https://user-images.githubusercontent.

[2020-12-28 14:18] nizienko commented on #6
Hello, the issue must be fixed in `0.10.2`

[2020-12-28 14:18] #6 closed

[2020-12-31 15:24] fxnm commented on #1
The problem is that the task runIdeForUiTest or runIde is not provided with a graphical user interface when executed in Github Actions and therefore does not start.
The solution to this problem is to run the application headless. This can be done with e.g. xvfb.
`xvfb-run gradle runUiTests` (on linux)
This solved the problem of the missing graphical user interface but after that I had the problem

[2021-01-04 17:54] abrooksv opened #10 "ExtractedData has surprising behavior"
1. `hasText` has some interesting behavior due to it caches the data and only refreshes in negative conditions.

The code:
[code]
will run forever since it will only refresh the data if it can't be found.

Meaning using it against an AsyncTreeModel will run the risk of an infinitive loop even after the tree has been loaded.

You instead have to do `findAll().any()`, which is fine but not obvious w

[2021-01-04 17:58] abrooksv commented on #10
I am happy to submit a PR, just not sure what way you want to handle this.

Should `Fixture.hasText(txt: String)` be using `getMany` like the other impls and deprecate `ExtractedData#hasText`?

Should we just change the `get*` methods to always refresh?

[2021-01-05 10:06] nizienko commented on #10
Thanks! There was an idea to cache already found texts in case of performance issues. It turned out that it's not that usable when we waiting for some text or when position of text changes. It seems that it will work quick enough if we refresh text on every get method.

[2021-01-05 20:54] abrooksv opened #12 "JetBrains Tree causes NPE when rendering for XPath"
I do not see this error in 0.9.35 and I do not have the source for that revision to help triage:

It looks to be the clipping rectangle is not set which Tree always expects in its paint method.
[code]

[2021-01-05 22:23] abrooksv commented on #12
I do not see the error when triggered from the browser view, but findAll() does trigger it

[2021-01-05 23:57] abrooksv commented on #12
Tracing and debugging this more it seems to happen only when a Tree has a selection which causes the `TextParser#findContainerComponent` to return the Tree itself and not its `JBViewport` that is surrounding it. If I force the parent component to become the `JBViewport`, it works correctly.

[2021-01-06 00:47] abrooksv commented on #12
Tracing it appears to be only when a Tree has a selection since that is what triggers the clipRect call.

The project view tree is not affected because its parent component that is rendered is the JBviewPort:

[code]

Which makes sense since that is the containing element:
<img width="491" alt="Screen Shot 2021-01-05 at 4 20 16 PM" src="https://user-images.githubusercontent.com/8992246/103713709-e

[2021-01-06 02:43] abrooksv commented on #10
Cool, will get that changed and PR'ed tomorrow.

[2021-01-07 00:09] fxnm commented on #1
Hello,
I think I need to clarify something here.

The problem is that when you try tasks like `runIde` or `runIdeForUiTests` in an environment without a graphical user interface, they don't start with the error no graphical user interface.

This problem can be solved by using (under Linux) a program like `xvfb`, which simulates a display. If you now start tasks like `runIde` or `runIdeForUiTests`

[2021-01-07 00:40] abrooksv commented on #1
Try:
[code]

https://github.com/JetBrains/intellij-community/blob/0c2a12b254102e25093117f7b8d273cd986c150e/platform/platform-impl/src/com/intellij/ide/gdpr/EndUserAgreement.java#L218

[2021-01-07 10:08] #10 closed

[2021-01-07 11:10] nizienko commented on #12
Indeed we've found that some components throws NPE when painting. And all cases were connected with parent which is smaller than itself. Here we decided to paint such parents instead of component except dialogs(dialog could be larger than some parents like welcome frame). What we've missed is that the component could fit the parent and still throws NPE.
Seems that our assumption was not fully righ

[2021-01-11 16:43] nizienko commented on #1
@fxnm, @abrooksv thank you for helping here! I've added your answer to the [FAQ](https://github.com/JetBrains/intellij-ui-test-robot/blob/master/ui-test-example/FAQ.md)

[2021-01-11 18:35] nizienko commented on #12
Hello, I've published a fix in `0.10.3`

[2021-01-12 11:45] zcervink opened #17 "The Remote-Robot framework does not support native parts of the IntelliJ Idea"
- some part of the IntelliJ Idea are on some platforms native and not accessible using the RR framework
- see the top menu on OX X:
<img width="601" alt="img" src="https://user-images.githubusercontent.com/43820055/104309824-11e53a00-54d3-11eb-8f7b-bda3aa36806c.png">

[2021-01-12 15:59] zcervink opened #18 "Remote-Robot framework does not offer any method to take screenshots of the IDE/whole screen"

[2021-01-12 16:39] damien-urruty-sonarsource opened #19 "ActionLinkFixture.click points at a wrong location"
Hello,

I didn't find a better place to report this issue since I don't know where the sources of the remote-fixtures lib are hosted (maybe privately?). I am using 1.1.18.

I noticed an issue with ActionLinkFixture.click(). When looking at the test running, the click was done at a wrong position. When decompiling the code in IntelliJ, we have:

    override fun click() {
        step("..click") {

[2021-01-12 17:05] nizienko commented on #19
Hello,
this is the right place to report. Indeed the remote-fixtures are in private repository now. But we are working on moving the library here. Once we did it we publish updated version which I believe already has a fix for the issue.

[2021-01-12 17:15] nizienko commented on #17
Hello, thanks for the issue. We are working on separate library with basic fixtures and I believe we going to publish it soon. We expecting it will contains methods to work with native menu via `osascript` which we use in our internal test project

[2021-01-12 17:19] nizienko commented on #18
Thats a good idea to have such method in library. For now you can try such extension:
[code]

[2021-01-12 17:21] #12 closed

[2021-01-15 01:42] zcervink opened #21 "The fun 'double' in the com.intellij.remoterobot.utils.Keyboard could not be invoked from Java code"
- 'double' is a reserved word in Java, so the fun 'double' cannot be invoked from Java code
- possible solution is to rename the function or add @JvmName("....") annotation

<img width="358" alt="Snímek obrazovky 2021-01-15 v 1 19 01" src="https://user-images.githubusercontent.com/43820055/104664634-090d8780-56d0-11eb-9a3e-7454aaf0c7ec.png">

[2021-02-04 20:11] nizienko opened #22 "Migrate from bintray usages"

[2021-02-05 22:52] zcervink opened #23 "The findAll() method does not accept Duration.ofSeconds() as a parameter (such as the find() method do)"
- in the past I did not care about the missing option, because I did not need it, but not I come to some issues:
   - when I want to find all the element by Xpath in the popup window (IMG 2), the findAll method returns 0 of them
   - when I put there a Thread.sleep(1000) (which is not a good practice) before the invocation of findAll(), the findAll method returns all the 2 elements which it should

[2021-02-05 23:24] zcervink commented on #23
### UPDATE, SOME ADDITIONAL INFO:

### 1) Repeating the invocation of findAll() does not help for 20 iteration:

[code]

### 2) Repeating the invocation of findAll() works for 200 iteration (it finds the 2 elements, but it is a bad practice, the findAll() should be fixed to be able find the element in one call):

[code]

### 3) When I use Thread.sleep(200), it finds the 2 JEditorPane elements (at

[2021-02-05 23:38] zcervink opened #24 "The Remote-Robot framework should provide IntelliJ Idea version"
- there should be a method/variable to provide current IntelliJ version while running the UI tests

**I write:** _private static RemoteRobot robot;_
**There should be an option such as**: _robot.ideaVersion_ **or** _robot.getIdeaVersion()_

[2021-02-08 12:37] nizienko commented on #23
Hello, thanks for the question! `findAll()` doesn't accept `Duration.ofSeconds()` by design.  In `find()` method we are expecting to find exact 1 component, so we can wait for that condition implicitly. When we using `findAll()` we can expecting different results such as zero components(checking that component has been disappeared) or more than one components(to iterate or to filter). It is import

[2021-02-08 14:11] zcervink commented on #23
@nizienko Thank you very much for so quick response. Now I see it, you are right. It should be as it is now. And thank you very much for your code example with the waitFor(), I have used it in my code and it is working as expected. Maybe you can close this issue, there is no need to have it open, it is resolved now.

[2021-02-17 21:34] fsladkey commented on #2
Just realized I never followed up but just wanted to say thanks for all the help on this. I'm able to run UI tests locally on both linux and mac and also on linux on CI. This is going to be really helpful, so thanks again!

[2021-02-26 16:48] abrooksv commented on #24
Here is my extension method to get the major version (i.e. `202`)

[code]

[2021-03-02 16:12] nizienko commented on #1
Hello, I've managed to launch our test examples on all 3 OSs using Github Actions.
https://github.com/JetBrains/intellij-ui-test-robot/blob/master/.github/workflows/runTest.yml

[2021-03-02 16:12] #1 closed

[2021-03-23 16:24] YannCebron opened #27 "Add ability to pass/configure license key for testing commercial target platform"

[2021-04-29 13:40] nizienko commented on #18
RemoteRobot now have methods for making screenshots of the components and  whole screen.

[2021-04-29 13:40] #18 closed

[2021-04-29 13:41] #22 closed

[2021-04-30 11:12] zcervink commented on #18
@nizienko Wow, thats great, thank you for cooperation on extending and improving the Remote-Robot framework.

[2021-05-02 15:34] zcervink opened #34 "Could not update Remote-Robot version from 0.10.3 to 0.11.2 (dependency could not be resolved)"
- the documentation says:
  - Last version of the Remote-Robot is **0.11.2** (https://github.com/JetBrains/intellij-ui-test-robot)

- After update from 0.10.3 to 0.11.2, an error shows:

[code]

[2021-05-02 16:49] nizienko commented on #34
We had to move the remote-robot from the bintray. Can you update the gradle plugin version?
`id("org.jetbrains.intellij") version "0.7.3" `

[2021-05-02 16:51] nizienko commented on #34
and you also need to define new repository
`maven { url = "https://packages.jetbrains.team/maven/p/ij/intellij-dependencies" }`

[2021-05-02 17:19] zcervink commented on #34
@nizienko thank you very much, I have overlooked those changes, now everything is working. You can close this issue.

[2021-05-02 18:24] #34 closed

[2021-05-06 11:32] henryju opened #35 "actionButton(byTooltipText("xx")) doesn't work anymore"
Hi,

[code]

Not sure how to investigate, but I'm pretty sure it was working at some point. I updated multiple parts of our UI tests (like remote robot dependency), and now
`actionButton(byTooltipText("XXX"))`
doesn't work anymore.
To investigate, I tried to display:
`findAll(ActionButtonFixture::class.java, byXpath("//div[@class='ActionButton']")).forEach {println(it.tooltipText)}`
but it says "n

[2021-05-06 12:39] nizienko commented on #35
Hello,
Thanks for the issue. Indeed, in the last release we changed the `tooltipText` attribute to the lowercase. There is a warning in the release notes.  I hope we will not change these attributes anymore. Sorry for the troubles.

![image](https://user-images.githubusercontent.com/6516906/117297534-a276ca00-ae76-11eb-9595-a2afc485a26c.png)

It is handy to use developer tools in the browser to se

[2021-05-06 12:45] nizienko commented on #35
Sorry, I've just understood the problem with the old version of `remote-fixtures`. We will move its code to this project and publish the library very soon.

[2021-05-06 13:00] henryju commented on #35
Good to know, thanks!

That's great news!

[2021-05-13 10:07] nizienko commented on #24
Now we have a method in the `remote-fixtures` library which actually do the same ).
`com.intellij.remoterobot.utils.UtilsKt#getIdeBuildNumber`

[2021-05-13 10:07] #24 closed

[2021-05-13 10:09] nizienko commented on #19
Hello, we moved `remote-fixtures` to this github project. The issue must be fixed in the `0.11.3` version

[2021-05-13 10:09] #19 closed

[2021-05-13 10:12] nizienko commented on #17
Hello,
could you please try [JMenuBarFixture](https://github.com/JetBrains/intellij-ui-test-robot/blob/master/remote-fixtures/src/main/kotlin/com/intellij/remoterobot/fixtures/JMenuBarFixture.kt) which uses `osascript` to work with native mac menu

[2021-05-13 23:25] abrooksv opened #38 "New JTreeFixture in 0.11.3 does not hide hidden root node from selection list"
If a JTree has a hidden root node, the node comes back in the `collectSelectedPaths` method.

For example, in the File Browser's JTree, `collectSelectedPaths()`, will return:

`[[Open File or Project, /, var, folders, q5, cfv4k63519vcllnnpwz5zsj0wnjvck, T, junit8868261966327556447]]`

[2021-05-14 03:02] abrooksv commented on #38
Here is a proposed patch, let me know what you think. I did not test it with nodes that do have a visible root node yet though.

[code]

[2021-05-17 09:16] shishovv commented on #21
Fixed in `remote-fixtures:0.11.3.28`. `Keyboard#double` was renamed to `Keyboard#doubleKeyPress`

[2021-05-17 09:16] #21 closed

[2021-05-17 09:19] shishovv commented on #35
Please try to use `remote-fixtures:0.11.3.28`

[2021-05-24 16:32] henryju commented on #19
Hi,

I still see this issue with 0.11.4. On CLion 2019.3, I can't manage to click on the `Open` link on the welcome frame.
`actionLink(ActionLinkFixture.byText("Open")).click()`
This is because the robot tries to click on the center of the component, that is not clickable:
![image](https://user-images.githubusercontent.com/281596/119377790-d008a380-bcbd-11eb-9244-ea03c955ec92.png)

[2021-05-25 09:21] henryju commented on #19
Workaround: `actionLink(ActionLinkFixture.byText("Open")).click(Point(10, 10))`

[2021-05-26 13:03] nizienko commented on #19
Thanks! Another workaround could be to click on text:
`welcomeFixture.findText("Open").click()`

[2021-06-02 12:56] shishovv commented on #27
Instructions added to [FAQ](https://github.com/JetBrains/intellij-ui-test-robot/blob/master/ui-test-example/FAQ.md)

[2021-06-02 12:56] #27 closed

[2021-06-08 21:51] nizienko opened #42 "Add integration with Dependabot"

[2021-06-08 21:53] nizienko commented on #42
https://dependabot.com/

[2021-06-08 22:01] hsz commented on #42
Handled with 168f765

[2021-06-08 22:02] #42 closed

[2021-06-09 11:40] shishovv commented on #38
Works good. Thank you!

[2021-06-09 11:40] #38 closed

[2021-06-12 17:13] cschar opened #65 "Trying to get SayHelloJavaTest to work... can't find ActionButton"
Using Window10 with IntelliJ 2021.2 EAP (212.4037.50) as the testIDE...

When cloning and trying to run the first tests, It seemed the test could not find the 'more actions' element...

in kotlin/org/intellij/examples/simple/plugin/pages/WelcomeFrame.kt
I changed the code to
[code]
from the original

[code]

and it seemed to work...
!

p.s. is there any  chance of getting the latest 0.14 versions

[2021-06-14 08:23] nizienko commented on #65
Thanks for the issue! I'll fix the tests.

You can find the latest versions [here](https://packages.jetbrains.team/maven/p/ij/intellij-dependencies/com/intellij/remoterobot/robot-server-plugin/)(package has been changed since 0.11.x)

[2021-06-21 15:44] #65 closed

[2021-06-22 17:18] nizienko opened #68 "RemoteRobot need context map to store data between requests"
RemoteRobot need context map to store data between requests, the same as with components ctx

[2021-06-23 21:18] nizienko commented on #68
There are `global` and `local` `Map<String, Object>` variables available in the js context. `global` is a single map for the whole Ide.
`local` map is defined on a per-fixture basis. Please check [GlobalAndLocalMapExamples](/ui-test-example/src/test/kotlin/org/intellij/examples/simple/plugin/GlobalAndLocalMapExamplesTest.kt)

[2021-06-23 21:18] #68 closed

[2021-07-20 09:47] #17 closed

[2021-07-20 09:47] #35 closed

[2021-08-17 17:10] nizienko opened #82 "Do not show hidden components in Hierarchy"
The component can have correct bounds and be visible but one of parents has some 'zero' bounds. You can see that ActionToolbarImpl has -1 height and TwoSideComponent 0 x -1 size. Therefore they are invisible for a user.

[2021-08-17 19:03] #82 closed

[2021-08-22 11:23] zcervink opened #83 "IdeaSideException when clicking on items in HeavyWeightWindow"
- Remote-Robot version 0.11.2 (not sure if not fixed in newer version)
- Despite the exception, clicking on items works without any issue, just catching the exception is a workaround that works for me (see the **Workaround that works for me** section below containing the code with try catch block I am talking about)

### Exception appears when clicking on Project SDK items in HeavyWeightWindow:
<i

[2021-08-25 13:22] nizienko commented on #83
Thanks for the issue, I will try to reproduce this

[2021-08-30 13:58] mkfl3x commented on #83
@zcervink, I use OS X too.
Please, can you provide IDE log?

[2021-08-31 07:55] zcervink commented on #17
@nizienko I tried to use that fixture, but I am not able to create instance on OS X (probably I need to use another approach because of the native parts on OS X). When I use:

`JMenuBarFixture jMenuBarFixture = remoteRobot.find(JMenuBarFixture.class, Duration.ofSeconds(10));`

I get an error:

`default locator is not defined for class com.intellij.remoterobot.fixtures.JMenuBarFixture`

[2021-08-31 10:45] mkfl3x commented on #17
@zcervink could you try following code, please:
`remoteRobot.find(JMenuBarFixture.class, JMenuBarFixture.Companion.byType(), Duration.ofSeconds(10));`

[2021-08-31 16:54] zcervink commented on #17
@mkfl3x I have an important update. I have tried the JPopupMenuFixture (not native parts of IntelliJ on OS X) and it works without any issue. I have open context menu and after that the following code navigates and clicks as expected. Well, the JMenuBarFixture does not address the right process/IntelliJ instance.

[code]

[2021-09-01 18:18] zcervink commented on #17
@mkfl3x @nizienko I have discussed this issue with my team - this issue is caused probably by wrong name of the IntelliJ used to run the UI tests (the name is generated in the [JMenuBarFixture](https://github.com/JetBrains/intellij-ui-test-robot/blob/master/remote-fixtures/src/main/kotlin/com/intellij/remoterobot/fixtures/JMenuBarFixture.kt) class). In my case (and I think it will be in all cases)

[2021-09-02 13:49] nizienko commented on #17
@zcervink Thanks for the investigation, seems that processName='Main' when we run idea with gradle. We will think how to handle this.

[2021-09-17 14:50] mkfl3x commented on #83
Hello @zcervink, I dived a bit deeper into your problem and found that when you try to open 'Project SDK' dropdown while JDK's are still loading following problem occures:
```s.ui.configuration.SdkDetector - No version is returned for detected SDK IDEA JDK at /private/var/folders/...```
Unfortunately we cannot handle it from tests, so you have 2 ways for solution:
1. Still use try-catch (more pref

[2021-09-21 08:13] olkornii opened #96 "More functionality to TextEditorFixture.kt"
I want to ask about EditorFixture, is it possible to expand functionality of editor?
I mean some default functions as "select text", "copy", "paste", "insert text".
If it is possible, I could try to implement it. If not, do you plan to add this functions? If not, I can implement it in my project by myself.

https://github.com/JetBrains/intellij-ui-test-robot/blob/master/remote-fixtures/src/main/ko

[2021-09-21 09:12] nizienko commented on #96
Hello, please feel free to PR. We appreciate it!
If you have any questions about implementation, we can discuss it in this issue.

[2021-09-21 09:53] olkornii commented on #96
Hi, cool. I'll try to add it ASAP. Thank you :)

[2021-10-01 17:44] zcervink opened #104 "Failed to find 'JPopupMenuFixture' when used for 'Project SDK' dropdown menu"
- the WaitForConditionTimeoutException is thrown when the RR framework fails to find 'JPopupMenuFixture'
- this exception appear only sometime (on macOS Catalina 10.15 and on macOS Big Sur 11 - in both cases on github actions) other platforms are ok

**This code causes sometimes WaitForConditionTimeoutException:**
`JPopupMenuFixture projectSdkList = find(JPopupMenuFixture.class, JPopupMenuFixture.

[2021-10-02 17:53] zcervink opened #106 "ComponentLookupException while trying to access ComboBox using build in fixture"
**Code that throws ComponentLookupException:**
`ComponentFixture projectJdkComboBox = comboBox(byXpath("//div[@accessiblename='Project SDK:' and @class='JPanel']"), Duration.ofSeconds(10));`

**Code that also throws the same ComponentLookupException:**
`ComboBoxFixture projectJdkComboBox = findAll(ComboBoxFixture.class, byXpath("//div[@accessiblename='Project SDK:' and @class='JPanel']")).get(0);`

[2021-10-04 10:38] nizienko commented on #106
Thanks for the issue! The problem here is that when you want to use `ComboBoxFixture` you have to define a locator to the `Combobox` component instead of `JPanel` in your example. When `ComboboxFixture` is initialized it creates a custom `CellReader` to be able to read text in its items which is not applieble for JPanel.

So, could you please try this locator?
[code]

[2021-10-05 09:20] olkornii commented on #96
@nizienko Hello, can I ask you for some contact as gmail or slack? I'm newbee in kotlin and javascript, so if it is possible, could I ask for some consulting about that? :)

[2021-10-05 09:45] nizienko commented on #96
Sure, you can reach me in [JetBrains Platform slack ](https://join.slack.com/t/jetbrains-platform/shared_invite/zt-efmgbnth-Yc3wLMR2_kagrmh9bOmCSA) in our [#intellij-platform-ui-testing](https://jetbrains-platform.slack.com/archives/C026SVA9MMM) channel.

[2021-10-05 13:39] mkfl3x commented on #104
Hello @zcervink,
New HeavyWeightWindowFixture was added

[2021-10-06 10:29] zcervink commented on #106
@nizienko Thank you very much for help, your locator is working without issue.

[2021-10-06 10:39] #106 closed

[2021-10-19 11:11] zcervink opened #110 "StepLogger does not generate any output"
I have integrated the StepLogger and it seems it does not produce any outcome.

I have registered it before running any test
`StepWorker.registerProcessor(new StepLogger());`

I have added the steps into my code
`step("abcd....", () -> {............});`

[2021-10-19 15:43] nizienko commented on #110
It seems to me that everything is fine. Could you please check if you have a log config in your resource directory. If not, please try to add this [log4j2 config](https://github.com/JetBrains/intellij-ui-test-robot/blob/master/ui-test-example/src/test/resources/log4j2.xml)?

[2021-10-20 10:46] zcervink opened #111 "Integrate the step() logs directly into the waitFor()"
- it would be great to have logs from StepLogger when it is waiting for something in the waitFor() method - what we are waiting for, details about attempts to make the condition true and stop waiting etc.

[2021-10-21 14:06] #110 closed

[2021-10-21 15:51] zcervink opened #112 "comboBox() from CommonContainerFixture does not work with @class='ComboBox'"
I have used the comboBox() successfully several times for "JComboBox" - `comboBox(byXpath("//div[@class='JComboBox']"), Duration.ofSeconds(10));`

When trying to implement it for custom pages in New Project wizard for "ComboBox", it does not work:
`comboBox(byXpath("//div[@class='ComboBox']"), Duration.ofSeconds(10)).selectItemContains(...........);`

I have trie to change it, does not work too:
`

[2021-10-21 16:58] zcervink commented on #112
Update I made it working, it looks like it needs an extra click to make it work with some combo boxes:

[code]

To be completely clear this issue appear in the [intellij-quarkus](https://github.com/redhat-developer/intellij-quarkus) extension in New Project creation wizard (custom page):

[2021-10-21 19:11] bric3 commented on #104
Hi,

In my case I was able to get a reference to the `HeavyWeightWindowFixture`, however I can't get the content of the selected items. In the particular case of JDK, we might have to wait a bit, I'll try tomorrow.

[2021-10-21 19:39] bric3 opened #113 "Discussion: Development and usage under macOs (maybe Linux, Win)"
Hi, I have a question regarding the usability of this plugin on small screen during test/debug.

I am developing on macOs, where the cursor is controlled by the test robot. Maybe the other OS have similar behavior.

Here's a few issues I noted.

1. When the tests are starting, the robot borrows the mouse pointer which prevents the usage of the mouse for other matters while a test suite is running

[2021-10-21 20:49] bric3 opened #114 "Duplicate `JPopupMenuFixture`, macOs, v0.11.7"
Hey I came across, what I think is a bug when rewriting a query to access a menu form the main menu bar.

In order to be able to use _script_ the menu bar I had to pass this system property (`apple.laf.useScreenMenuBar=false`) as mentioned in my comment https://github.com/JetBrains/intellij-ui-test-robot/issues/17#issuecomment-948420839

I wrote this code

[code]

And when replacing it with `JPopu

[2021-10-27 10:38] nizienko opened #116 "Exception occurs on 2021.2"
[code]

[2021-10-27 14:31] nizienko opened #117 "Support video recording for tests"

[2021-10-29 10:48] #116 closed, assigned to nizienko

[2021-10-30 10:13] nizienko opened #118 "Remove Nashorn"

[2021-11-03 23:13] li-richard opened #119 "Error running with headless Android Studio"
I'm trying to run this robot with AS in an AWS EC2 instance, loosely following the headless example given in the Github Actions workflow, but I'm running into an error starting the IDE with `runIdeForUiTests`.

[code]

This seems like it stems from using the wrong java runtime, but I am using the runtime bundled with the IDE:
[code]
OS info:
[code]

Any idea what is going wrong here, and what I ca

[2021-11-04 01:51] li-richard commented on #119
Was able to fix by installing the `fontconfig` package with `yum install fontconfig`

[2021-11-04 01:51] #119 closed

[2021-11-04 22:23] nizienko commented on #119
Thanks for letting know!

[2021-11-08 15:28] zcervink commented on #111
@nizienko I think this issue should be closed, I have found the integretion in the recently released 0.11.8 (but I do not know, if it is complete or not).

[2021-11-08 16:31] nizienko commented on #111
yes, thank you for reminding me of this. It should work via `description` argument.

[2021-11-08 16:31] #111 closed, assigned to nizienko

[2021-11-08 16:32] nizienko commented on #112
additional click now supported in `ComboBoxFixture`

[2021-11-08 16:32] #112 closed

[2021-11-11 17:42] nizienko commented on #117
added example in faq

[2021-11-11 17:42] #117 closed

[2021-11-17 23:18] vliux opened #123 "No matching variant of org.jetbrains.intellij.plugins:gradle-intellij-plugin:1.2.1 was found"
Right after the clone I tried to run "./gradlew ui-test-example:clean ui-test-example:runIdeForUiTests & ./gradlew ui-test-example:test" but got errors:
[code]

Env: macOS Big Sur 11.6

[2021-11-18 10:04] nizienko commented on #123
Hello, can you try to use Java 11 instead of 8?

[2021-11-21 21:51] zcervink commented on #112
@nizienko We should reopen this issue - I have tested the RR version 0.11.8 and the fix works only for the **selectItemContains()** method, not for the **selectItem()** method. If I run the **click()** before the **selectItem()**, everything is ok. Maybe the resolution to this issue would be move the newly added if from the **selectItemContains()** and replace the if in **selectItem()** (only one

[2021-11-21 22:11] zcervink commented on #83
@mkfl3x ok, thank you, I will still use try-catch block

[2021-11-22 20:20] zcervink commented on #104
@mkfl3x The usage of `HeavyWeightWindowFixture` did resolve my issue and I am using that now in my UI tests. And @bric3 has a point - that issue appears because IDEA is still searching for more SDKs and just wait resolves the issue. Additionally to that there is issue https://github.com/JetBrains/intellij-ui-test-robot/issues/83 describing usage of `HeavyWeightWindowFixture` and the IdeaSideExcept

[2021-11-23 14:15] #104 closed

[2021-12-08 10:01] nizienko opened #133 "Process stops when runIdeForUiTests is launched with gradlew"
If using the gradlew for runIdeForUiTests the process just stops, if its launched like that

[2022-01-05 12:22] #123 closed

[2022-01-11 08:11] vldF opened #157 "ReferenceError: "local" is not defined. (js#9)"
When the next code runs, I got the next error.
Code:
`find<TextEditorFixture>(EditorFixture.locator)
`
Error:
[code]

How can I avoid this error?

[2022-01-11 09:22] nizienko commented on #157
Hello! I've just tried to run this code and it works fine for me. Are you sure that this is the right fragment of the code? Because the error appears in the constructor of `EditorFixture`, but your code creates a new `TextEditorFixture`.
Also, problems could come from the wrong locator you use when looking for `TextEditorFixture`. Could you please try this:
[code]

[2022-01-11 10:03] vldF commented on #157
Sorry, I tried to fix my issue and I attached wrong code version
Could you, please, try next code?
`find<EditorFixture>(EditorFixture.locator)`

[2022-01-11 12:06] nizienko commented on #157
this one also works for me. Could you please tell me what versions of remote-robot and fixtures do you use?

[2022-01-11 12:16] nizienko commented on #157
is there any chance your robot-server plugin version is less than v0.11.5? if so, could you please update it?

[2022-01-11 13:05] vldF commented on #157
I'm using version 0.11.9.166:
val remoteRobotVersion = "0.11.9.166"

dependencies {
    testImplementation("com.intellij.remoterobot:remote-robot:$remoteRobotVersion")
    testImplementation("com.intellij.remoterobot:remote-fixtures:$remoteRobotVersion")
}

Also, I can provide the last part of stacktrace:
[code]

[2022-01-11 14:29] nizienko commented on #157
Could you please check a version of the robot-server plugin:
 - launch `runIdeForUiTests` task;
 - Idea should be started;
 - check a plugin version in Installed plugins:
![image](https://user-images.githubusercontent.com/6516906/148960650-06eda41b-e336-42a8-bab9-925998c2dbf3.png)

Also your gradle.build.kts might be useful

[2022-01-12 08:02] vldF commented on #157
Ohh, yeas, you're right, I have version 0.10.0. But I can't change it using gradle. I wrote the next code fragment:
[code]

And I got the error:
[code]

But I wrote more repos:
[code]
So, what should I do to update robot server plugin?

[2022-01-12 10:25] nizienko commented on #157
I assume that you also have an old version of [gradle-intellij-plugin](https://github.com/JetBrains/gradle-intellij-plugin) We had to move the library from bintray last year, and the old version doesn't support new location. I would suggest updating it to 1.3.0. Check [the migration guide](https://lp.jetbrains.com/gradle-intellij-plugin/)

[2022-01-12 13:33] #157 closed

[2022-03-05 00:15] zcervink opened #173 "Create function for closing/quitting the IDE"
- function for complete quitting the IntelliJ IDEA after all the the UI tests has been performed would be really useful, something like:
   `remoteRobot.quitIde();`

- this function would close the IDE and completely kill/destroy the whole process in which the IDE run for the UI tests

[2022-03-07 09:01] nizienko commented on #173
Hello, thanks for the issue, will think how to make this the most convenient way. That could be useful when you use the Gradle plugin to launch an idea. In case of using launcher you can kill Ide process [this way](https://github.com/JetBrains/intellij-ui-test-robot/blob/8e1942da1d7cb5aed9af5c9bc29e73b93f06bb91/ide-launcher/src/test/kotlin/com/intellij/remoterobot/launcher/CommandLineProjectTest.k

[2022-03-07 16:10] zcervink commented on #173
@nizienko Hello, thanks for replay. For now I use the destroy() to kill the process as you mentioned. If there will be better way in the future, I will be glad to test it and use it.

[2022-04-04 21:17] bric3 opened #179 "Add a disclaimer about `com.intellij.remoterobot:remote-fixtures:1.1.18` being older than 0.11.13"
This is very very disconcerting. Versions 1.1.17 and 1.1.18 are actually older than 0.11.
This is confusing tools that are using semver.

<img width="992" alt="image" src="https://user-images.githubusercontent.com/803621/161633276-64ecf015-31d7-41b5-98ff-9559780e68b5.png">

<img width="679" alt="image" src="https://user-images.githubusercontent.com/803621/161633349-b85196c7-e3eb-4197-a39d-08fd5e97

[2022-04-05 09:13] nizienko commented on #179
Versions 1.* were published by mistake. I've removed them. Thanks for pointing on the issue!

[2022-04-05 09:20] bric3 commented on #179
Let's close the issue then
Thanks

[2022-04-05 09:20] #179 closed

[2022-04-19 14:07] zcervink opened #182 "Exception when starting IntelliJ 2022.1 for UI tests"
Unable to start IntelliJ 2022.1, exception appears (2021.3 and older starts without issue)

**Cmd run in src/test-project folder in shared library project (and also in projects to that are this library connected):**
`https://github.com/redhat-developer/intellij-common-ui-test-library/tree/main/src/test-project`

**Command:**
`./gradlew runIdeForUiTests -PideaVersion=IC-2022.1`

**Exception:**
[cod

[2022-04-19 14:51] zcervink commented on #182
**IMPORTANT UPDATE**: I have tried the above mentioned gradlew cmd in the root of this repo on localhost, no issue appears. There arre 2 possible reasonf for this issue:

1) there is an issue inside this project - not appearing when starting IDE from inside this project but appears after connecting this project to other project as dependency -> this project is unusable in other project
2) somethin

[2022-04-19 17:49] nizienko commented on #182
Hi, seems that was a [bug](https://youtrack.jetbrains.com/issue/IDEA-291192) I've checked your test project with 'org.jetbrains.intellij' version '1.5.3', seems it works fine with it.

[2022-04-19 21:10] zcervink commented on #182
Hi @nizienko, thank you very much for your help, now everything is working as expected. Issue is resolved, I suggest to close this issue.

[2022-04-19 21:11] #182 closed

[2022-04-28 16:28] ruomengz opened #184 "Wait for smart mode flaky with null project exception"
Hi,

We follow the examples in this repo to wait for smart mode in our tests, this function times out sometimes in our integration tests.

https://github.com/JetBrains/intellij-ui-test-robot/blob/aa7c4bd84562bfedf4b50e1bb6c56e5057fb560d/ui-test-example/src/test/kotlin/org/intellij/examples/simple/plugin/pages/IdeaFrame.kt#L33-L45

When we checked the log, it shows that `project` is null in this ca

[2022-04-28 19:26] shishovv commented on #184
Hi,
I've pushed possible fix for `IdeaFrame#isDumbMode`. Could you please try it and tell if it helps

[2022-05-02 09:49] nizienko commented on #184
hello @ruomengz, can you please try another one fix?

[2022-05-03 13:47] ruomengz commented on #184
Hey @nizienko

Thank you for the fix! I am no longer seeing the exceptions.

[2022-05-03 13:47] #184 closed

[2022-05-14 17:22] PawelLipski opened #185 "Is it possible for switch the classloader in Rhino code?"
AFAICS Rhino executed via `com.intellij.remoterobot.RemoteRobot#callJs(java.lang.String, boolean)` (or `runJs`) is executed with `PluginClassLoader` for `Robot server` as context classloader. Attempt to `setContextClassLoader` to the `PluginClassLoader` of the tested plugin's don't seem to work:

Rhino code:
[code]

results in:

[code]

So it seems that Rhino uses Robot server's `PluginClassLoader

[2022-05-16 11:10] nizienko commented on #185
Hi, can you try to do it this way?
[code]

[2022-05-16 11:50] PawelLipski commented on #185
Yes! I can alternatively load a single class explicitly pointing to `pluginClassLoader` also by:
[code]

but what I'm aiming at is to switch the **default classloader** used by Rhino! I tried `Thread.currentThread().setContextClassLoader(pluginClassLoader);` but to now avail, Rhino still seems to use the classloader associated with *Robot Server* plugin, not the plugin I've pointed to ☹️

[2022-05-16 11:51] PawelLipski commented on #185
So I can provide a workaround by using more reflection (relying on `Class` and `Method` objects in Rhino code)... but curious if it's possible to just re-wire Rhino to use a different classloader completely 🤔

[2022-05-16 14:58] nizienko commented on #185
I've tried to pass plugin classloader to rhino execution context and unfortunately it failed with [Loader can not resolve Rhino classes](https://github.com/mozilla/rhino/blob/master/src/org/mozilla/javascript/Context.java#L2344) error.
As for `setContextClassLoader` way, seems that Rhino caches it and keeps using the one was set on context creating. And if not I guess we would have the same error.

[2022-05-16 15:03] #185 closed

[2022-06-13 21:43] PawelLipski opened #190 "Output of IDE is spammed with `DEBUG io.netty` logs on Linux"
<details>
<summary>Logs</summary>

[code]
</details>

These logs come from Netty (via `RobotServerImpl` and Ktor) and don't seem particularly important... I thought it's the problem with logback config in robot-server-plugin, but AFAICS in https://github.com/JetBrains/intellij-ui-test-robot/blob/master/robot-server-plugin/src/main/logback.xml#L13, level for `io.netty` is `INFO` 🤔

[2022-06-13 21:47] PawelLipski opened #191 "logback (or any SLF4J impl, for that matter) shouldn't probably be shipped with robot-server-plugin"
Note that IntelliJ has its own implementation SLF4J bundled, and running IntelliJ with the plugin leads to SLF4J warning:

[code]

Would it make sense to remove the dependency on logback from [robot-server-plugin/build.gradle.kts](https://github.com/JetBrains/intellij-ui-test-robot/blob/master/robot-server-plugin/build.gradle.kts) + also remove logback.xml in this module?

This automatically solve

[2022-06-24 19:37] cschar opened #193 "warning when building StepsLogger.kt : "Synchronizing by Boolean is forbidden""
Hi,

on my `:compileTestKotlin` step...
I seem to be getting the error

"StepsLogger.kt: (12, 18): Synchronizing by Boolean is forbidden"

Is there a workaround for this?

thanks

[2022-06-24 21:02] nizienko commented on #193
Hi, can you share your code? Can't reproduce it

[2022-06-27 08:44] zcervink opened #194 "Functions isPathExists(), clickPath() from JTreeFixture stop working with update to 0.11.14 (PathNotFoundException)"
- **Issue appear after update to Remote-Robot 0.11.14, version 0.11.13 and earlier are working without issues**
- I have some tests working with the Project Explorer (left panel in IntelliJ, there are project files, folder, whole structure)
- No issue when creating JTreeFixture fixture, no issue when expanding the tree using this fixture -> means fixture + some functions are without issue
- Functi

[2022-06-27 14:59] shishovv commented on #194
We've changed the way how `JTreeFixture` reads the node values
So now in your case the root node of the tree will contain the path to the project
Try something like `tree.clickPath(tree.getValueAtRow(0), ...)` or create a subclass of `JTreeFixture` and replace the underneath fixture in contructor
[code]

[2022-06-29 14:13] zcervink commented on #194
@shishovv Thank you very much, I tried to use the first approach - I have replaced the first item in the path by the tree.getValueAtRow(0) and it worked. This issue is resolved, I close it.

[2022-06-29 14:13] #194 closed

[2022-07-06 07:24] azdrojowa123 commented on #191
hi 😉when to expect that this issue will be completed ?

[2022-07-06 13:01] nizienko commented on #191
Hello, I'll publish a new version this evening, it will include the fix

[2022-07-06 16:14] #118 closed

[2022-07-07 20:01] PawelLipski commented on #191
Done in v0.11.15

[2022-07-07 21:49] PawelLipski commented on #190
Solved with #191 as of v0.11.15

[2022-07-07 21:49] #190 closed

[2022-07-13 07:42] zcervink opened #199 "IdeaSideException/TimeoutException while working with the gradle tasks tree (JTreeFixture) on OS X"
- issue appear only on OS X
- issue reported and described here (there is a workaround - use the button for expanding the gradle tasks tree) - https://github.com/redhat-developer/intellij-common-ui-test-library/issues/126

- The following method call caused IdeaSideException/TimeoutException while working with the gradle task tree:
`gradleTaskTree().expandAll();`

- gradleTaskTree() is JTreeFixtur

[2022-07-14 01:02] zcervink commented on #199
@nizienko thank you very much for you advice. I have tried that, but it does not work (same issue on OS X):
https://github.com/redhat-developer/intellij-quarkus/runs/7327241383?check_suite_focus=true

And I do not think that I found a wrong JTree - my implementation works for Windows and Linux and on OS X on localhost, but not OS X on github actions. And when I use your code, it is exactly the sam

[2022-07-19 14:52] gsaslis commented on #17
Hello @bric3,

I am facing the same issue as I also can't make the native menu bar and sheets show up, despite having set:

[code]

Would you happen to know if this is still the recommended way to go about this ?

[2022-07-19 15:14] nizienko commented on #17
Do you mean you want to disable the Mac native menu and file chooser? Then these properties are correct. Check how we defined it in [our test project ](https://github.com/JetBrains/intellij-ui-test-robot/blob/dcde1033a2f6dc335c98c5c668ff884019bc27ce/ui-test-example/build.gradle#L60)

[2022-07-19 15:46] gsaslis commented on #17
Thank you @nizienko !

Yes, that is exactly how they have been defined in [Our project](https://github.com/cytechmobile/radicle-jetbrains-plugin/blob/feat/16_ui_tests/build.gradle.kts#L130) as well, but the native menu still shows up

[2022-07-19 16:40] nizienko commented on #17
@gsaslis Indeed, just checked that `apple.laf.useScreenMenuBar` flag doesn't work.
I've found another one `jbScreenMenuBar.enabled=false`, seems it is more reliable.
I'm going to fix this info in the docs, thanks for pointing at this.

[2022-07-19 18:05] gsaslis commented on #17
@nizienko I'm trying with both but neither seems to be having any effect...

could I please ask you to send me a screenshot of how it looks like on your machine when it is enabled?

[2022-07-20 09:26] nizienko commented on #17
@gsaslis That's really strange. It seems we have to set both properties to false. I'm not sure that this is ok and asked about this in the corresponding [issue](https://youtrack.jetbrains.com/issue/IDEA-286996/useScreenMenuBarfalse-no-longer-effective#focus=Comments-27-6325387.0-0)

[2022-07-20 14:41] gsaslis commented on #17
thanks @nizienko - setting both (!) to false did the trick... apologies I should have spotted that myself earlier!

[2022-07-28 16:45] bric3 commented on #17
Ah thanks for the update, this seem to have changed indeed.
This question might surface again with the new UI ?

[2022-08-04 15:58] zcervink opened #209 "NoClassDefFoundError: org/slf4j/LoggerFactory exception while trying to start tests"
- I am getting this exception when trying to start tests after update from Remote-Robot 0.11.13 to 0.11.15 (I did not test 0.11.14)

[code]

[2022-08-08 07:42] njbartlett opened #211 "Module system errors with IntelliJ IDEA 2022.2"
Using remote-robot version 0.11.15 with IntelliJ IDEA 2022.2 is failing with many errors from the Java module system on the IDE side. Note that IDEA 2022.2 now uses Java 17 as its internal JVM.

[Full log including stack trace is attached](https://github.com/JetBrains/intellij-ui-test-robot/files/9279800/idea_2022_2.log). This includes the following error:

[code]

I attempted to fix this by addin

[2022-08-08 09:08] nizienko commented on #211
Hello, I've just found that we defined to old version of `robot-server-plugin` as a default version. I'll fix it. As a workaround could you please set `robot-server-plugin` version manually `ideDownloader.downloadRobotPlugin(tmpDir, "0.11.5")` in `indRobotPluginPath()`

[2022-08-08 09:49] njbartlett commented on #211
Thanks for your reply. Actually in our project we don't use the provided IdeDownloader, since we have to download both IDEA and the plugin from an Artifactory server within our network (no external network access from Jenkins build nodes for security reasons).

Therefore we are already using the correct version of `robot-server-plugin`.

[2022-08-08 10:50] nizienko commented on #211
Are you sure it is not too old? The exception was thrown from `XpathDataModelCreator.fillElement(XpathDataModelCreator.kt:90)` and now it should be with this [commit](https://github.com/JetBrains/intellij-ui-test-robot/commit/65a807b03343dee94a96c604fcbbf59c66ad97bb)

[2022-08-08 12:01] njbartlett commented on #211
You were right, I apologize. I had an older version of the plugin cached by the build system (rookie mistake...). Thank you!

[2022-08-08 12:15] nizienko commented on #211
Ok, good! Anyway, I'd like to keep this issue open until fix the default `robot-server-plugin` version in launcher

[2022-08-08 13:57] shishovv commented on #209
I can't reproduce it. Can you share some details? How do you add remote-robot dependency to your project?

[2022-08-08 16:54] zcervink commented on #209
@shishovv I have added the Remote-Robot using a library project. This maybe the reason you can not reproduce it but it should work anyway. See the architecture:

### Architecture:
**IntelliJ-Quarkus** project <- here the issue can be found
          ^--- it has a dependency - the **intellij-common-ui-test-library** project
                                                                        ^--

[2022-08-09 15:08] #211 closed

[2022-08-09 15:13] shishovv commented on #209
I guess the problem is here https://github.com/redhat-developer/intellij-quarkus/blob/75581d577db8ffff59a6d87c926ef5654e163684/build.gradle#L54

[2022-08-10 19:03] zcervink commented on #209
@shishovv Yes, that was the problem. I am not author of that intellij-quarkus project and I have overlooked that. I have changed the exclude configuration from **compile** to **runtimeClasspath**. Now it is working as it should be. Thank you very much for your help. I am closing this issue.

[2022-08-24 08:41] #83 closed

[2022-08-24 08:51] nizienko commented on #199
@zcervink Hi! Have you managed to solve this issue? Can we close it?

[2022-09-06 18:11] zcervink commented on #199
@nizienko The issue is resolved, I close this issue

[2022-09-06 18:11] #199 closed

[2022-09-07 14:25] MTSym opened #220 "Selecting comboBox items with quotation marks results in a parsing exception"
If you try to select a combo box containing quotation marks you will receive a javascript parsing exception because those quotation marks are not escaped.

Even if the input for `comboBox.selectItem` is escaped the resulting JS script is unescaped again.

Reproducer:
[code]

Result which get sent:
[code]

[2022-09-14 13:14] redcatbear commented on #173
This function would be highly appreciated, since it would give us a clean slate for each test, making the tests more dependable.

[2022-09-14 13:19] redcatbear commented on #133
I just encountered the same situation. The documentation claims that this would work:

[code]

But with a single ampersand Gradle is just backgrounded and there is no feedback when is is actually save to start the UI test.

If you could terminate the Gradle process after the UI server is running, then using a double ampersand this command could actually work.

But that also requires a way to get r

[2022-09-22 07:07] MTSym commented on #220
Tried it with a workaround which seems fine for now.

[code]

So instead of using `selectItem` or `selectItemContains` from the combobox fixture I click on it and grab the list fixture which appears. By using `clickItem` which internally uses `clickItemAtIndex` everything works as expected. Maybe the `selectItem` of the combobox can be changed to also use the index of the item instead of sending t

[2022-10-12 11:26] nizienko opened #238 "Add invokeAction method to the fixtures lib"
[code]

[2022-11-08 11:28] nizienko commented on #238
implemented in [CommonSteps](https://github.com/JetBrains/intellij-ui-test-robot/blob/master/remote-fixtures/src/main/kotlin/com/intellij/remoterobot/steps/CommonSteps.kt)

[2022-11-08 11:28] #238 closed

[2022-11-23 10:27] nizienko opened #254 "Wrong text typed when QWERTZ locale"
https://github.com/assertj/assertj-swing/issues/199

[2022-11-24 19:16] hstaudacher opened #255 "runIdeForUiTests no longer works with GitHub action"
I tried to enable ui tests for our IntelliJ plugin when I encountered problems. The wait for the ide step always times out.

So, I forked this repository and changed the `runTest` workflow to run on every push to `master` with the same result. On this project I've seen that the last time the tests ran was about 3 months ago. You can see the build outputs of my fork here: https://github.com/hstauda

[2022-11-24 22:46] nizienko commented on #255
Hi, thanks for the issue. I've updated java and gradle-plugin and that helped:
https://github.com/JetBrains/intellij-ui-test-robot/actions/runs/3543929306
Although there is a minor issue left on Windows - terminal was shown over the Idea

[2022-11-25 02:39] prabint opened #256 "java.net.ConnectException: Failed to connect to /127.0.0.1:8082"
#### Issue description
Frequently failing to run UI test with the all-in-one gradle command

[code]

[code]

build.gradle
[code]

#### Steps to reproduce the issue

1.  ```./gradlew clean && ./gradlew runIdeForUiTests & ./gradlew test --tests "FullUiTest.verify requests and variables data"```

#### What's the expected result?
- IDE opens and UI tests start running

#### What's the actual result?
1

[2022-11-28 10:33] nizienko commented on #256
Hi, thanks for the issue. Seems that test can't reach Idea because it is not started yet. I've [added](https://github.com/JetBrains/intellij-ui-test-robot/commit/7ef53fb2a68559dfb274f7cbdd833be71746672e) `@BeforeEach` method which waits for the Ide. Can you check if it works for you?

[2022-11-28 16:42] prabint commented on #256
New IDE is opened before test starts but test is timing out in the `@BeforeAll` code. Here's [link to the test](https://github.com/prabint/api-bank/blob/main/src/test/kotlin/ui/FullUiTest.kt)

### Log
[code]

[2022-11-28 18:07] #255 closed

[2022-11-28 18:50] nizienko commented on #256
Thanks for the example, I've tried and got this
[code]
So, I think the cause is in simultaneously running test and clean tasks, clean just interfere and brakes tests.
[code]

[2022-11-29 04:28] prabint commented on #256
I tried the full command again (with `clean`) and it's working: `./gradlew clean && ./gradlew runIdeForUiTests & ./gradlew test --tests "FullUiTest.verify requests and variables data"`

`waitForIgnoringError(ofMinutes(3)) { remoteRobot.callJs("true") }` has resolved the issue. Thanks.

[2022-11-29 04:28] #256 closed

[2022-11-29 09:06] hstaudacher commented on #255
Thanks, tested it and it's working now.